ul {
  list-style: none;
  padding: 0;
  /* background:#ff7377; */
  background: #fff;
  max-height: 0;
  transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
  visibility: hidden;
  border-radius: 3px;
  opacity: 0;
  transform: rotate(180deg);
  width: 200px !important;
}

li a {
  padding: 8px 0;
  display: block;
  transition: 0.25s;
  color: black;
}
li a:hover {
  /* background: #ff7377; */
  /* color:white; */
}

a {
  /*color:#fff !important;*/
  /* text-transform:uppercase; */
  text-decoration: none;
  text-decoration: none !important;
}
i {
  padding: 20px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  /* color: #ff7377; */
  transition: 0.25s;
  animation: 1.25s bounce infinite;
}
i:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.95);
  animation-play-state: paused;
}
ul.open {
  max-height: 480px;
  visibility: visible;
  opacity: 1;
  transform: rotate(0);
}
/* animation */
@keyframes bounce {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: -15px;
    margin-bottom: 15px;
  }
  100% {
    margin-top: 0;
  }
}
